.memory > .card {
    font-size: 4em;
    flex: 1 1 calc(100% / 6 - 0.4em);
    border: 0.08em solid transparent;
    border-radius: 10px;
    margin: 0.1em;
    display: flex;
    cursor: default;
}

.memory > .card.hidden {

}

.memory > .card.justMatched{
    animation: rotate 0.65s linear both;
}
@keyframes rotate {
    0% {
        -webkit-transform: scale(1) rotateY(0);
        transform: scale(1) rotateY(0);
    }
    50% {
        -webkit-transform: scale(2) rotateY(180deg);
        transform: scale(2) rotateY(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateY(360deg);
        transform: scale(1) rotateY(360deg);
    }
}


.memory > .card.justMismatched {
    animation: shake 0.65s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

.memory > .card.visible {
    cursor: not-allowed;
}

.memory > .card > .symbol {
    margin: auto;
}